[Desktop Entry]
Comment=Deepin Launcher
Exec=dde-launcher
Name=Deepin Launcher
OnlyShowIn=''
Type=Application
X-Deepin-TurboType=dtkwidget
X-Deepin-Vendor=user-custom
