
QFrame#AppBox{
    background-color: transparent;
}

QFrame#LauncherFrame[dockPosition='0'] {
    padding:50px 0 0 0;
}
QFrame#LauncherFrame[dockPosition='1'] {
    padding:0 0 0 0;
}
QFrame#LauncherFrame[dockPosition='2'] {
    padding:0 0 0 0;
}
QFrame#LauncherFrame[dockPosition='3'] {
    padding:0 0 0 80px;
}
