QFrame#DEditInsideFrame {
    background-color: rgba(255, 255, 255, 0.2);
    border: 1px solid;
    border-radius: 4px;
    border-color: transparent;
}
QLineEdit {background-color: transparent;
    border: 1px solid;
    border-radius: 4px;
    border-color: transparent;
}

QFrame {
    background-color: transparent;
    border: 1px solid;
    border-radius: 4px;
    border-color: transparent;
}
