Source: dde-launcher
Section: deepin
Priority: optional
Maintainer: Deepin Sysdev <sysdev@deepin.com>
Build-Depends: debhelper (>= 8.0.0), pkg-config, 
 qt5-qmake, qt5-default, qtbase5-dev,
 libxcb-ewmh-dev, libqt5x11extras5-dev,
 libqt5svg5-dev, libgtk2.0-dev, libgsettings-qt-dev,
 qttools5-dev-tools, libdtkbase-dev, libdtkutil-dev, libdtkwidget-dev, libdframeworkdbus-dev,
Standards-Version: 3.9.4
Homepage: http://www.deepin.org/

Package: dde-launcher
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, libnotify-bin, lastore-daemon,
Conflicts: dde-workspace (<< 2.90.5)
Description: deepin desktop-environment - launcher module
 Deepin desktop environment 2015 - launcher module.
