Source: dde-launcher
Section: x11
Priority: optional
Maintainer: Deepin Packages Builder <packages@deepin.com>
Build-Depends:
 debhelper (>= 8.0.0),
 pkg-config,
 cmake,
 qtbase5-dev,
 libxcb-ewmh-dev,
 libqt5x11extras5-dev,
 libqt5svg5-dev,
 libgsettings-qt-dev,
 qttools5-dev-tools,
 libdtkcore-dev,
 libdtkwidget-dev,
 libdframeworkdbus-dev,
 qtbase5-private-dev
Standards-Version: 3.9.8
Homepage: http://www.deepin.org/

Package: dde-launcher
Architecture: any
Depends:
 ${shlibs:Depends},
 ${misc:Depends},
 lastore-daemon,
 deepin-desktop-schemas (>= 3.1.11)
Conflicts: dde-workspace (<< 2.90.5)
Description: deepin desktop-environment - launcher module
 Deepin desktop environment 2015 - launcher module.
